body {
    /* Background colour in case image doesn't load */
    background-color: #ff5a5a;

    background-image: url("../img/bgtile.png");
    background-size: 450px;

    color: #111;
    font-family: "Open Sans", sans-serif;
    font-size: 10pt;

    height: 100%;
    width: 100%;
}

/* Turn off the number input spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.font-rubik {
    font-family: 'Rubik', sans-serif;
}

.font-red {
    color: #ff5a5a;
}

.ls-1 {
    letter-spacing: 1px;
}

.ls-2 {
    letter-spacing: 2px;
}

/* The colour square for the pie graph key */
.graphKeyItem {
    display: inline-block;
    height: 11px;
    margin-right: 2px;
    width: 11px;
}

<<<<<<< HEAD
.scroll{
    overflow: auto;
=======
.deleteEntry:hover {
    cursor: pointer;
>>>>>>> origin/addison
}