html {
    height: 100%;
}

* {
    overflow: hidden;
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #D0D7D8;

    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;

    min-width: 100%;
    width: 100%;

    min-height: 100%;
    height: 100%;
}

#pageHeaderNav {
    background-color: #292929;
    border-bottom: 2px solid #C71F40;
    color: #FFF;
    padding: 10px 20px;
    top: 0;
    width: 100%;

    /* Stop padding adding to size */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#pageHeader {
    float: left;
    height: 40px;
}

#pageLogo {
    height: 100%;
}

#pageNav {
    float: right;
    line-height: 40px;
}

#pageContent {
    background: url("../img/background.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: auto;
    padding: 20px;
    width: 100%;

    /* Stop padding adding to size */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#container {
    background: rgba(0, 0, 0, 0.3);
    color: #FFF;
    margin: 0 auto;
    padding: 20px;
    width: 60%;

    /* Stop padding adding to size */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#pageFooter {
    background-color: #292929;
    border-bottom: 2px solid #C71F40;
    bottom: 0;
    color: #FFF;
    padding: 10px;
    position: absolute;
    width: 100%;

    /* Stop padding adding to size */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#pageContact {
    float: left;
}

.social {
    height: 15px;
    width: 15px;
}

#pageCopyright {
    float: right;
}

#notificationContainer{
    overflow: auto;
    font-family: "Open Sans";
    margin: auto;
    background-opacity: 0;
    padding: 10px;
    width: auto;
    height: 500px;

}

.notification{
    border-radius: 3px;
    background-color: white;
    padding: 5px;
    margin: 10px;
    height: auto;

}
.avatarContainer{
    font-size: 9px;
    width: auto;
    height: auto;
    margin: 10px auto 10px 10px;
}
.avatar{
    width: 40px;
    height: 40px;
    border-style: solid;
    border-radius: 50%;
    float: left;
}
.descriptionContainer{
    margin: 1px auto auto 50px;
}
.notifHeader{
    text-align: left;
    color: black;
}
.notifTime{
    font-size: small;
    color: black;
}

.notifInfo{
    margin: 0px 8px 5px 8px;
    font-size: 9px;
    width:auto;
    height: auto;
    float: left;
}

.notifTitle{
    margin: auto auto 6px auto;
    color: black;
    font-size: medium;
}

.notifPara{
    text-align: left;
    color: black;
    ;
}



#notificationHeader{
    text-align: center;
    color: white;
}

.imgRound {
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}

.imgSmall {
    height: 50px;
    width: 50px;
}

.imgMedium {
    height: 80px;
    width: 80px;
}

.imgRound img {
    margin: 0 auto;
    height: 100%;
    width: auto;
}

#profileInfo {
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    padding: 9px 0 11px;
}

.profileName {
    font-size: 30px;
    font-weight: bold;
}

#editProfile {
    background-color: #292929;
    border-radius: 5px;
    border-bottom: 2px solid #C71F40;
    float: right;
    font-size: 12px;
    padding: 10px 20px;
}

#editProfile:hover {
    font-weight: bold;
}

#donations {
    background-color: rgba(0, 0, 0, 0.1);
    float: left;
    width: 49%;
}

#groupdonation {
    background-color: rgba(0, 0, 0, 0.1);
    float: left;
    padding: 10px;
    width: 49%;

    /* Stop padding adding to size */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#statistics {
    float: right;
    width: 49%;
}

#statistics div {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding: 0px 0 25px;
    text-align: center;
    width: 49%;

    /* Stop padding adding to size */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#statistics h1 {
    font-size: 80px;
    font-weight: bold;
}

#myTeams {
    background-color: rgba(0, 0, 0, 0.1);
    float: left;
    margin-top: 2%;
    padding: 5px 10px;
    width: 49%;

    /* Stop padding adding to size */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.team {
    padding: 5px 0;
}

.teamInfo {
    float: left;
    font-size: 15px;
    margin-left: 10px;
    padding: 15px 0;
}


#options div {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    text-align: center;
    width: 49%;

    /* Stop padding adding to size */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.left {
    float: left;
}

.right {
    float: right;
}

#history {
    background-color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    height: 200px;
    width: 49%;
}

#pieGraph {
    background-color: rgba(0, 0, 0, 0.1);
    float: right;
    margin-top: 2%;
    padding: 10px;
    width: 49%;

    /* Stop padding adding to size */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#pieGraph h1 {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

#pieGraph h2 {
    font-size: 20px;
}

.label {
    padding: 5px 0;
    width: 50%;
}

.box {
    display: inline-block;
    height: 11px;
    margin-right: 2px;
    width: 11px;
}

#red {
    background-color: rgb(255, 99, 132);
}

#blue {
    background-color: rgb(54, 162, 235);
}

#yellow {
    background-color: rgb(255, 206, 86);
}

.nextDonation {
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: center;
    width: 100%;

    /* Stop padding adding to size */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.nextDonation h1 {
    font-size: 16px;
    font-weight: normal;
}

.nextDonation span {
    font-size: 25px;
    font-weight: bold;
}

#donations hr {
    margin: 0 auto;
    width: 70%;
}
