body {
    font-family: Helvetica, sans-serif;
    background-image: url("../img/background.jpg");
    background-color: #888;
}

button:hover {
    opacity:1;
}

button {
    background-color: red;
    color: white;
}

#id01 {
    display: none; /* Hidden by default */
}

.header{
    padding: 10px 20px 10px 20px ;
    text-align: center;
}
.textContainer{
    text-align: center;
}
