<!-- This partial represents the specific detail options in the appointment page -->

<p class="ml-1 mb-1 font-weight-bold">Date <span class="text-danger">*</span></p>
<div class="d-inline-block mx-auto mb-3">
    <input id="datepicker" width="150" class="form-control mx-auto">
</div>

<div class="form-group form-inline mb-3">
    <div class="mx-auto text-center">
        <p class="ml-1 mb-1 font-weight-bold">Time <span class="text-danger">*</span></p>
        <select class="custom-select" required>
            <option selected disabled hidden></option>
            <option value="1">9:00 am</option>
            <option value="2">9:30 am</option>
            <option value="3" disabled>10:00 am</option>
            <option value="4">10:30 am</option>
            <option value="5">11:00 am</option>
            <option value="6" disabled>11:30 am</option>
            <option value="7">12:00 pm</option>
            <option value="8">12:30 pm</option>
            <option value="9">1:00 pm</option>
            <option value="10" disabled>1:30 pm</option>
            <option value="11" disabled>2:00 pm</option>
            <option value="12">2:30 pm</option>
            <option value="13">3:00 pm</option>
            <option value="14">3:30 pm</option>
        </select>
    </div>
</div>

<div class="form-group form-inline mb-3">
    <div class="mx-auto text-center">
        <p class="ml-1 mb-1 font-weight-bold">Location <span class="text-danger">*</span></p>
        <select class="custom-select" required>
            <option selected disabled hidden></option>
            <option value="1">Melbourne Central</option>
            <option value="1">Bundoora</option>
            <option value="1">St Kilda</option>
            <option value="1">Camberwall</option>

        </select>
    </div>
</div>