<div class="row w-100 text-center mx-auto">
    <div class="col-sm-4">
        <!--<div class="form-check m-0 p-0">-->
            <input class="form-check-input d-none typeCheck" type="checkbox" value="blood">
            <button type="button" class="btn btn-sm btn-outline-danger px-4 py-1 fs-9 selectType" id="btnBone">Blood</button>
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
        <!--<div class="form-check m-0 p-0">-->
            <!--<input class="form-check-input d-none typeCheck" type="checkbox" value="bone">-->
            <!--<button type="button" class="btn btn-sm btn-outline-danger px-4 py-1 fs-9 selectType">Bone</button>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-4">-->
        <!--<div class="form-check m-0 p-0 mr-5">-->
            <input class="form-check-input d-none typeCheck" type="checkbox" value="plasma">
            <button type="button" class="btn btn-sm btn-outline-danger px-4 py-1 fs-9 selectType">Plasma</button>
        <!--</div>-->
    </div>
</div>