<div class="card bg-light mt-3 mx-2 d-inline-block" style="width: 330px;">
    <div class="media mb-1 px-3 pt-2 text-left">
        <img src="img/dabois.png" class="mr-4" width="50px">

        <div class="media-body align-self-center">
            <h6 class="mb-1">University of Melbourne</h6>
            <p class="mb-0"><img src="img/torso.png" width="16px"> 100</p>
        </div>

        <a class="nav-link float-right align-self-center active ml-1 p-0" data-toggle="tab" href="#details">Join</a>
    </div>
</div>