    <div class="nav card bg-light mt-3 mx-2 d-inline-block" style="width: 330px;">

        <div class="media px-3 pt-2 pb-2 text-left">
            <img src="img/dabois.png" class="mr-4" width="50px">

            <div class="media-body align-self-center text-dark">
                <h6 class="mb-1"><%= teamname %></h6>
                <p class="mb-0 d-inline-block"><img src="img/<%= teamPhoto %>" width="16px"> 100</p>
                <a class="nav-link d-inline-block active ml-1 p-0" href="teamprofile">View Team</a>
            </div>


        </div>
    </div>