<div id="pageFooter">
    <div id="pageContact">
        Contact Us &#124; FB IN SN TW
    </div>

    <div id="pageCopyright">
        &#169; 2018 Noic.ee Solutions. All Rights Reserved.
    </div>
</div>