<!-- This partial implements the member header. -->

<nav class="navbar navbar-expand-sm bg-light navbar-light shadow-sm headerMember" <%= hide %>>
    <a class="navbar-brand font-rubik font-black ls-1 text-uppercase ls-2 font-weight-bold" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 0 150 150" class="d-inline-block align-middle"><style>.a{fill:#EF4351;}</style><path d="M75 132.8l-1.4-0.8c-2.5-1.3-60.1-32.4-63.4-75.6 -0.9-11.1 2-20.5 8.3-27.2 6.4-7 16.5-11 27.5-11 12.1 0 22.9 4.5 29.1 11.9 6.1-7.3 17-11.9 29.1-11.9 11 0 21.1 4 27.5 11 6.3 6.8 9.1 16.2 8.3 27.2 -3.3 43.2-61 74.3-63.4 75.6L75 132.8zM45.9 24.3c-9.4 0-17.8 3.3-23.1 9C17.7 38.9 15.4 46.5 16.2 56 19 92.2 66.2 120.8 75 125.9c8.8-5.1 56-33.6 58.8-69.9 0.7-9.5-1.5-17.1-6.7-22.7 -5.3-5.7-13.7-9-23.1-9 -11.7 0-22.3 5.1-26.4 12.6L75 41.8l-2.7-4.9C68.3 29.3 57.6 24.3 45.9 24.3z" class="a"/><path d="M82.2 133.4c-19.1-10.2-37.2-24.4-49.9-42.1 -9.9-13.8-16.2-31.6-10.7-48.4 3.2-9.7 11.3-16.2 20.8-19.3 9.5-3.1 17.2-2.7 23.3 4.2 2.1 2.4 5.7 3.6 8.7 4.5 2.1 0.7 8.3 3 10.2 0.8 6.7-7.6 17.4-11.3 27.4-11.2 4.2 0.1 5.4 0.7 9 3.7 3.6 3.1 6 7.5 7.6 11.8 6.1 16.3-1.7 35.1-11 48.4 -12.8 18.3-31.9 32.9-51.5 43.3 -2.5 1.3 5.2 4.6 5.8 4.8 2.8 1.1 9.2 3.8 12.2 2.2 23.2-12.4 46.4-30.8 58.7-54.4 9.6-18.3 10.4-42.9-8.1-55.8 -19-13.3-52.4-18.1-69.2 1 6.3 1.8 12.6 3.6 18.9 5.3 -8.3-9.4-21-14.3-33.1-16.6 -12.4-2.4-25.5-1.7-36.4 5.3C-4.2 33.2-1.4 58.9 7.4 76.5c12.2 24.2 36.8 43.1 60.4 55.7 4.1 2.2 8.8 3.9 13.5 4.3C84.7 136.7 85.5 135.1 82.2 133.4z" class="a"/><path d="M38.1 20.6c-12 0.2-23.7 5-29.1 16.4 -4.7 9.8-2.3 22.2 1.6 31.9 7.3 18.4 23.4 33 39 44.5 5.4 4 11.1 7.8 16.9 11.2 1.7 1 3.5 2 5.4 2.7 2.7 1 9.3 3.9 12.2 2.2 2-1.2 4-2.4 6-3.6 15.2-9.6 29.5-21.3 40.4-35.6 12.9-17 21.5-45.9-0.2-59.9 -12.1-7.8-29-11.9-43.2-8.6 -6.1 1.4-11.3 3.9-15.8 8.2 -2.5 2.4-4 5.9-5.7 8.9 6.3 1.8 12.6 3.6 18.9 5.3 -3.2-5.9-6.3-10.2-12-14 -9.1-6.2-21.8-9.2-32.7-9.5 -3.4-0.1-4.2 1.2-1 3.1 3.8 2.2 9 4.2 13.5 4.3 1.1 0 2.2 0 3.3 0.1 0.2 0 3.1 0.8 1.3 0.1 1.7 0.6 3.6 2.8 4.9 4.3 1.6 2 2.8 4.7 4 7 1.5 2.8 17 8.9 18.9 5.3 2.8-5.2 5.3-9.4 10.6-12.5 4.1-2.5 8.8-3.6 13.5-4.1 2-0.2 4.1-0.2 6.1 0.1 -0.3-0.1-0.6-0.2-0.9-0.3 1 0.5 1.9 1.3 2.8 2 12.9 10.4 7.9 31.3 1.4 43.8 -10.9 21-31.8 37.2-52 48.7 5.4 1.4 10.8 2.7 16.2 4.1 -16.2-9.3-31.4-21.3-42.9-36C31.5 80.4 25.9 68.6 25.6 55.7c-0.4-16.7 12.2-27.4 28.3-27.7 4.4-0.1-1.5-3.7-2.5-4.1C47.3 22 42.6 20.5 38.1 20.6z" class="a"/></svg>
        <span class="d-inline-block align-middle ml-1">Donorspace</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="book">Book Appt.</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="teams">Teams</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">More</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="information">Donor Information</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="about">About Us</a>
                    <a class="dropdown-item" href="contact">Contact Us</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="profile">Your Profile</a>
                    <a class="dropdown-item" id="logout" >Logout</a>
                </div>
            </li>
        </ul>
    </div>

</nav>
