<!-- This partial is our loading icon. -->

<div class="text-center loaderDiv">
    <!-- LOADING ICON FROM https://loading.io/css/ -->
    <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

    <h5 class="font-rubik text-white" style="text-shadow: 1px 1px #cc2727;">Loading...</h5>
</div>