<div class="card d-inline-block bg-light mt-3 mx-2 flex-grow-1">
    <div class="media mb-1 px-3 pt-2">
        <div class="media-body align-self-center">
            <h6 class="mb-1 font-weight-bold"><%= name %></h6>
            <!--<p class="mb-0"><img src="img/torso.png" width="16px"> 100 <button type="button" class="ml-2 btn btn-outline-primary px-2 py-1"><h6 class="mb-0 small">Join Team</h6></button></p>-->
            <p class="mb-0"><img src="img/drop.png" width="16px" class="mr-0"> <%= goal %> <img src="img/team.png" width="16px" class="ml-2 mr-1"> <%= teams %></p>
        </div>
        <a class="nav-link align-self-center ml-1 p-0" href="leaderboards">View</a>

        <!--<a class="nav-link float-right align-self-center active ml-1 p-0" data-toggle="tab" href="#details">Join</a>-->
    </div>
</div>