<!-- This partial is our placeholder event format -->

<div class="card bg-light mt-3 mx-2">
    <div class="media mb-0 px-3 py-3">
        <div class="media-body align-self-center">
            <h5 class="mb-2 font-weight-bold"><%= name %></h5>
            <h6 class="mb-2">Teams: <%= teams %></h6>
            <!--<a class="nav-link m-0 p-0" href="eventpage">View Event</a>-->
            <hr/>
            <p class="mb-0"><%= description %></p>

        </div>


        <!--<a class="nav-link float-right align-self-center active ml-1 p-0" data-toggle="tab" href="#details">Join</a>-->
    </div>
</div>