<%- include('./partials/initial', {title: '404', status: 'both'}) %>

    <%- include('./partials/loading') %>

    <div class="mx-auto bg-light w-50 mt-0 mb-3 px-3 py-3 rounded shadow-sm text-center contentDiv" style="min-width: 350px;  opacity: 0;">
        <h1 class="display-2 font-rubik ls-2 mb-0">404</h1>
        <h5 class="font-rubik ls-1">Page not found.</h5>
        <p>The page you are looking for doesn't exist or another error has occured.</p>
        Head back to our <a href="/">home page</a> or to your <a href="/home">news feed</a>.
    </div>

<%- include('./partials/final') %>