<%- include('./partials/initial', {title: 'Information', status: 'guest'}) %>

    <div class="mx-auto bg-light w-50 ml-4 mt-4 px-4 py-4 shadow-sm" style="min-width: 400px;">
        <h4 class="text-uppercase font-rubik ls-2 font-weight-bold mb-3 text-center">About Donorspace</h4>
        Donor space is a portal for blood, plasma and bone marrow donors, to book, get updated and explore the vast world of the blood donor community.
    </div>

<%- include('./partials/final') %>