<%- include('./partials/initial', {title: 'About Us', status: 'guest'}) %>

    <div class="mx-auto bg-light w-50 ml-4 mt-4 px-4 py-4 shadow-sm" style="min-width: 400px;">
        <h2 class="text-uppercase font-rubik ls-2 font-weight-bold mb-3 text-center">Find out more</h2>

        <!--<div class="text-center">-->
        <ul class='nav nav-pills justify-content-center' role='tablist'>
        <li><a class='nav-link' data-toggle='tab' href='#blood'>Blood Donations</a></li>
        <li><a class='nav-link' data-toggle='tab' href='#plasma'>Plasma Donations</a></li>
        <li><a class='nav-link' data-toggle='tab' href='#bonemarrow'>Bone Marrow Registry</a></li>
        <li><a class='nav-link' data-toggle='tab' href='#donorspace'>About Donorspace</a></li>
        </ul>
        <!--</div>-->

        <hr/>

        <div class='tab-content'>
            <div id='blood' class='mt-3 tab-pane fade'>
                <h4 class="text-uppercase font-rubik ls-2 font-weight-bold mb-3 text-center">Blood Donation Information</h4>
            </div>
            <div id='plasma' class='mt-3 tab-pane fade'>
                <h4 class="text-uppercase font-rubik ls-2 font-weight-bold mb-3 text-center">Plasma Donation Information</h4>
            </div>
            <div id='bonemarrow' class='mt-3 tab-pane fade'>
                <h4 class="text-uppercase font-rubik ls-2 font-weight-bold mb-3 text-center">The Bone Marrow Registry</h4>
            </div>
            <div id='donorspace' class='mt-3 tab-pane fade'>
                <h4 class="text-uppercase font-rubik ls-2 font-weight-bold mb-3 text-center">About Donorspace</h4>
            </div>
        </div>
    </div>

<%- include('./partials/final') %>