<%- include('./partials/initial', {title: 'About Us', status: 'both'}) %>

    <%- include('./partials/loading') %>

    <div class="mx-auto bg-light w-50 mt-0 mb-3 px-3 py-3 rounded shadow-sm contentDiv" style="min-width: 350px;  opacity: 0;">
        <h2 class="text-uppercase font-rubik ls-2 font-weight-bold mb-3 text-center">About Donorspace</h2>
        <hr/>
        Donor space is a portal for blood, plasma and bone marrow donors, to book, get updated and explore the vast world of the blood donor community.
    </div>

<%- include('./partials/final') %>