<!DOCTYPE html>

<html lang="en">
<head>
    <%- include('./partials/script') %>
</head>

<body>

    <div class="container-fluid container-nomargin">
        <%- include('./partials/headerguest') %>

            <footer class="footer bg-light fixed-bottom">
                Hello
            </footer>

            <div class="mx-auto bg-light w-50 ml-4 mt-4 px-3 py-3 shadow-sm" style="min-width: 400px;">
                <h2 class="text-uppercase font-rubik ls-2"><strong>About</strong></h2>
                <p>Blah</p>
                <p>Blah</p>
                <p>Blah</p>
                <p>Blah</p>
                <p>Blah</p>
                <p>Blah</p>
                <p>Blah</p>

            </div>
        </div>
    </body>
</html>