<%- include('./partials/initial', {title: 'About Us', status: 'guest'}) %>

    <div class="mx-auto bg-light w-50 ml-4 mt-4 px-4 py-4 shadow-sm font-rubik" style="min-width: 400px;">
        <h2 class="text-uppercase font-rubik ls-2 font-weight-bold mb-3 text-center">About Donorspace</h2>
        <!--Box format div-->
        <div class="card text-center mx-auto " style="min-width: 350px; padding: 5px; max-width: 600px">
        <h3>What Is Donorspace</h3>
        <p class=""> Donor space is a portal for blood, plasma and bone marrow donors, to book, get updated and explore the vast world of the blood donor community. </p>
        </div>

        <div class="card text-center mx-auto mt-3" style="min-width: 350px; padding: 5px; max-width: 600px">
        <h4 class="text-uppercase font-rubik font-weight-bold">Where The Donations Go</h4>
        <p>Your donations save lives every day. One third of blood donations help people with cancer and other blood diseases. Other areas the blood helps people
        are anemia patients, surgery patients, burn victims, other heart stomach and kidney diseases patients, trauma victims</p>
        </div>

        <div class="card text-center mx-auto mt-3" style="min-width: 350px; padding: 5px; max-width: 600px">
        <h4 class="text-uppercase font-rubik font-weight-bold">Types Of Donations</h4>
        <p style="">Blood</p> <p>Plasma Bone</p>
        </div>
    </div>

<%- include('./partials/final') %>