<%- include('./partials/initial', {title: 'Contact Us', status: 'both'}) %>

    <%- include('./partials/loading') %>

    <div class="mx-auto bg-light w-25 mt-0 mb-3 px-3 py-3 rounded shadow-sm text-center contentDiv" style="min-width: 350px;  opacity: 0;">
        <h2 class="text-uppercase font-rubik ls-2 font-weight-bold mb-0 ">Contact Us</h2>
        <h6 class="small font-italic mb-3 text-secondary">These are placeholder details, obviously.</h6>
        <hr/>
        <div class="d-inline-block text-left">
        <p><img src="./img/facebook.png" height="30px" class="mr-2"> http://www.facebook.com/donorspace</p>
        <p><img src="./img/mail.png" height="30px" class="mr-2"> enquiries@donorspace.com</p>
        <p><img src="./img/phone.png" height="30px" class="mr-2"> 1836 667 772 (18 DONORSPC)</p>
        <p class="mb-0"><img src="./img/twitter.png" height="30px" class="mr-2"> @Donorspace</p>
        </div>
    </div>

<%- include('./partials/final') %>