<%- include('./partials/initial', {title: 'Contact Us', status: 'guest'}) %>

    <div class="mx-auto bg-light w-25 ml-4 mt-4 px-4 py-4 shadow-sm" style="min-width: 400px;">
        <h2 class="text-uppercase font-rubik ls-2 font-weight-bold mb-3 text-center">Contact Us</h2>
        <p><img src="./img/facebook.png" height="30px" class="mr-2"> http://www.facebook.com/donorspaceau</p>
        <p><img src="./img/mail.png" height="30px" class="mr-2"> enquiries@donorspace.com.au</p>
        <p><img src="./img/phone.png" height="30px" class="mr-2"> 1836 667 772 (18 DONORSPC)</p>
        <p><img src="./img/twitter.png" height="30px" class="mr-2"> @DonorspaceAU</p>
    </div>

<%- include('./partials/final') %>