<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="../css/style.css" rel="stylesheet">
    <script src="../js/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <script src="../js/functions.js" type="text/javascript"></script>
    <title>Donorspace - Home</title>
</head>
<body>
<div id="pageHeaderNav">
    <header id="pageHeader">
        This is the header including nav
    </header>


    <nav id="pageNav">
        Home &#8226; Appointments &#8226; Events &#8226; Teams &#8226; My Profile
    </nav>
</div>

<div id="pageContent">
    <div id="container">
        <div id="heading" style="text-align:center">
            <h1>Become a donor.</h1>
        </div>
        <hr>

        <div class="create-account-form">
            <form>
                <input type="text" title="username" placeholder="firstname" />
                <input type="text" title="username" placeholder="lastname" />
                <input type="email" title="username" placeholder="email address" />
                <input type="password" title="username" placeholder="password" />
                <input type="password" title="username" placeholder="confirm password" />
                <button type="submit" class="btn">Join</button>
            </form>
        </div>
    </div>
</div>

<div id="pageFooter">
    <div id="pageContact">
        Contact Us &#124; FB IN SN TW
    </div>

    <div id="pageCopyright">
        &#169; 2018 Noic.ee Solutions. All Rights Reserved.
    </div>
</div>
</body>
</html>