
<%- include('./partials/initial', {title: 'AUSUNI Donor Push', status: 'member'}) %>

    <div class="mx-auto bg-light w-50 mt-0 mb-3 px-3 py-3 rounded shadow-sm" style="min-width: 350px;">
        <h2 class="font-rubik ls-1 mb-1 text-center font-rubik ls-2">The AUSUNI Donor Push</h2>
        <h6 class="text-center">37 Teams &#8231; 700 Donations per Team</h6>
        <hr/>
        <p>The AUSUNI Donor Push is an event which all Australian Universities are partaking in. The aim is for each
        university to have 700 people donating, a very small portion of their monstrous cohort.</p>
        <hr/>
        <h5 class="ml-2 text-center font-rubik mx-auto text-uppercase">Leaderboards</h5>

        <table class="table table-striped">
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th class="text-center">Rank</th>-->
                    <!--<th>Team</th>-->
                <!--</tr>-->
            <!--</thead>-->
            <tbody>
                <tr>
                    <td class="align-middle text-center font-weight-bold font-rubik"><h4 class="mb-0">1</h4></td>
                    <td class="align-middle">
                        <strong>University of Melbourne</strong>
                        <div class="progress border bg-transparent border-danger mt-2" style="height:16px;">
                            <div class="progress-bar bg-danger font-weight-bold" style="width:100%;height:16px;">115%</div>
                        </div>
                    </td>
                    <td class="align-middle pl-0">
                        <br/><p class="mt-2 mb-0"><img src="img/torso.png" width="16px" class="mr-1">806</p>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center font-weight-bold font-rubik"><h4 class="mb-0">2</h4></td>
                    <td class="align-middle">
                        <strong>Australian National University</strong>
                        <div class="progress border bg-transparent border-danger mt-2" style="height:16px;">
                            <div class="progress-bar bg-danger" style="width:98%;height:16px;">98%</div>
                        </div>
                    </td>
                    <td class="align-middle pl-0">
                        <br/><p class="mt-2 mb-0"><img src="img/torso.png" width="16px" class="mr-1">684</p>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center font-weight-bold font-rubik"><h4 class="mb-0">3</h4></td>
                    <td class="align-middle">
                        <strong>University of Queensland</strong>
                        <div class="progress border bg-transparent border-danger mt-2" style="height:16px;">
                            <div class="progress-bar bg-danger" style="width:79%;height:16px;">79%</div>
                        </div>
                    </td>
                    <td class="align-middle pl-0">
                        <br/><p class="mt-2 mb-0"><img src="img/torso.png" width="16px" class="mr-1">554</p>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center font-weight-bold font-rubik"><h4 class="mb-0">4</h4></td>
                    <td class="align-middle">
                        <strong>Monash University</strong>
                        <div class="progress border bg-transparent border-danger mt-2" style="height:16px;">
                            <div class="progress-bar bg-danger" style="width:73%;height:16px;">73%</div>
                        </div>
                    </td>
                    <td class="align-middle pl-0">
                        <br/><p class="mt-2 mb-0"><img src="img/torso.png" width="16px" class="mr-1">514</p>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center font-weight-bold font-rubik"><h4 class="mb-0">5</h4></td>
                    <td class="align-middle">
                        <strong>University of Sydney</strong>
                        <div class="progress border bg-transparent border-danger mt-2" style="height:16px;">
                            <div class="progress-bar bg-danger" style="width:61%;height:16px;">61%</div>
                        </div>
                    </td>
                    <td class="align-middle pl-0">
                        <br/><p class="mt-2 mb-0"><img src="img/torso.png" width="16px" class="mr-1">424</p>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center font-weight-bold font-rubik"><h4 class="mb-0">6</h4></td>
                    <td class="align-middle">
                        <strong>Deakin University</strong>
                        <div class="progress border bg-transparent border-danger mt-2" style="height:16px;">
                            <div class="progress-bar bg-danger" style="width:56%;height:16px;">56%</div>
                        </div>
                    </td>
                    <td class="align-middle pl-0">
                        <br/><p class="mt-2 mb-0"><img src="img/torso.png" width="16px" class="mr-1">390</p>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center font-weight-bold font-rubik"><h4 class="mb-0">7</h4></td>
                    <td class="align-middle">
                        <strong>RMIT University</strong>
                        <div class="progress border bg-transparent border-danger mt-2" style="height:16px;">
                            <div class="progress-bar bg-danger" style="width:25%;height:16px;">25%</div>
                        </div>
                    </td>
                    <td class="align-middle pl-0">
                        <br/><p class="mt-2 mb-0"><img src="img/torso.png" width="16px" class="mr-1">194</p>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle text-center font-weight-bold font-rubik"><h4 class="mb-0">8</h4></td>
                    <td class="align-middle">
                        <strong>Victoria University</strong>
                        <div class="progress border bg-transparent border-danger mt-2" style="height:16px;">
                            <div class="progress-bar bg-danger small" style="width:8%;height:16px;">8%</div>
                        </div>
                    </td>
                    <td class="align-middle pl-0">
                        <br/><p class="mt-2 mb-0"><img src="img/torso.png" width="16px" class="mr-1">56</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>