<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="../css/style.css" rel="stylesheet">
    <script src="../js/jquery.js"></script>
    <script src="../js/functions.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <title>Donorspace - Home</title>
</head>
<body>
<div id="pageHeaderNav">
    <header id="pageHeader">
        <img id="pageLogo" src="../img/logo.png">
    </header>

    <nav id="pageNav">
        Home &#8226; Appointments &#8226; Events &#8226; Teams &#8226; My Profile
    </nav>
</div>

<div id="pageContent">
    <div id="container">
        <h1 id="notificationHeader">News</h1>
        <div id="notificationContainer">
                <div class="notification" id="nofication1">
                    <div class="avatarContainer">
                        <div class="imgRound imgSmaller left">
                            <img src="../img/favicon.png">
                        </div>
                        <div class="descriptionContainer left">
                            <h1 class="notifHeader">DonorSpace</h1>
                            <h2 class="notifTime">5 hours ago</h2>
                        </div>
                    </div>
                    <div class="notifInfo">
                        <h1 class="notifTitle">Update</h1>
                        <h2 class="notifPara">Welcome to the home of donations DonorPlace, where you can keep track
                        maintain and book all of your donations.</h2>

                    </div>
                </div>
                <div class="notification" id="nofication2">

                    <div class="avatarContainer">
                        <div class="imgRound imgSmaller left">
                            <img src="../img/logo.jpeg">
                        </div>
                        <div class="descriptionContainer left">
                            <h1 class="notifHeader">RedCross</h1>
                            <h2 class="notifTime">8 hours ago</h2>
                        </div>

                    </div>
                    <div class="notifInfo">
                        <h1 class="notifTitle">Goal achieved</h1>
                        <h2 class="notifPara">The Red Cross blood foundation has reached 300,000L</h2>
                    </div>
                </div>
                <div class="notification" id="nofication3">

                    <div class="avatarContainer">
                        <div class="imgRound imgSmaller left">
                            <img src="../img/ABMR.png">
                        </div>
                        <div class="descriptionContainer left">
                            <h1 class="notifHeader">Australian Bone Marrow Registry</h1>
                            <h2 class="notifTime">10 hours ago</h2>
                        </div>

                    </div>
                    <div class="notifInfo">
                        <h1 class="notifTitle">Goal achieved</h1>
                        <h2 class="notifPara">We have reached 300,000 bone marrow donors, now on the registry</h2>

                    </div>
                </div>
                <div class="notification" id="nofication1">

                    <div class="avatarContainer">
                        <div class="imgRound imgSmaller left">
                            <img src="../img/girl.png">
                        </div>
                        <div class="descriptionContainer left">
                            <h1 class="notifHeader">Jen Benfelst</h1>
                            <h2 class="notifTime">16 hours ago</h2>
                        </div>

                    </div>
                    <div class="notifInfo">
                        <h1 class="notifTitle">First Donation</h1>
                        <h2 class="notifPara">Jen has accomplished her first donation on DonorSpace, saving 1 life</h2>

                    </div>
                </div>
        </div>
    </div>
</div>

<div id="pageFooter">
    <div id="pageContact">
        Contact Us &#124; FB IN SN TW
    </div>

    <div id="pageCopyright">
        &#169; 2018 Noic.ee Solutions. All Rights Reserved.
    </div>
</div>
</body>
</html>