<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" href="../css/style.css" rel="stylesheet">
        <script src="../js/jquery.js"></script>
        <script src="../js/functions.js" type="text/javascript"></script>
        <title>Homepage</title>
    </head>
    <body>
        <div class="container">
            <header id="mainHeader">
                <img src="../img/logo.png" alt="Red Cross Logo">
                <h1>The Donor Registry done better.</h1>
                <h2>Coming Soon</h2>

                <div id="showComing">What's coming?</div>

                <div id="whatsComing">
                    <ul>
                        <li>Track your donation history</li>
                        <li>Map out future appointments</li>
                        <li>Join groups to donate together</li>
                        <li>Earn rewards as you save lives</li>
                    </ul>
                </div>

                <span class="bodyText">Interested in joining? Express your interest below.<br/>
                Email: <input type="text" placeholder="eg. somebody@something.com.au" size="40"></span>

            </header>
        </div>


    </body>
</html>