<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" href="../css/style.css" rel="stylesheet">
        <script src="../js/jquery.js"></script>
        <script src="../js/functions.js" type="text/javascript"></script>
        <title>Homepage</title>
    </head>
    <body>
        <div class="container">
            <img id="redcross" src="../img/logo.png" alt="Red Cross Logo">

            <hr>

            <h1>Donating done better.</h1>
            <h2>Coming soon.</h2>

            <hr>

            <div id="showComing" class="sectionHeader">What's coming?</div>

            <div id="whatsComing" class="sectionContent">

                <hr>

                <ul>
                    <li><b>A way to do all of the following:</b></li>
                    <li>Track your donation history</li>
                    <li>Schedule future appointments</li>
                    <li>Explore other donation types</li>
                    <li>Join groups and donate together</li>
                </ul>
                <hr>
            </div>

            <div id="showInterest" class="sectionHeader">Want to join?</div>

            <hr>

            <div id="expressInterest" class="sectionContent">
                <span>Enter your email below and we</span>
                <span>will let you know when it's ready.</span>
                <input type="text" placeholder="somebody@something.com" size="30"/>
                <input type="button" value="Submit"/>
                <hr>
            </div>
        </div>

        <div id="credit">
            <img id="noicee" src="../img/noiceecredit.png" alt="noic.ee Logo">
        </div>


    </body>
</html>