<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="../css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <script src="../js/jquery.js"></script>
    <script src="../js/functions.js" type="text/javascript"></script>
    <title>Donorspace - Home</title>
</head>
<body>
<div id="pageHeaderNav">
    <header id="pageHeader">
        This is the header including nav
    </header>


    <nav id="pageNav">
        Home &#8226; Appointments &#8226; Events &#8226; Teams &#8226; My Profile
    </nav>
</div>

<div id="pageContent">
    <div id="container">
        <div id="welcomeMessage" style="text-align:center">
            <h1>DonorSpace.</h1>
        </div>
        <ul style="list-style-type:square; text-align:center">
            <br>
            <li>Australia's donation hub, re-imagined.</li>
            <li>Schedule Blood, Plasma, and Bone Marrow Donations.</li>
            <li>Join groups and donate together.</li>
            <li>Track donation history.</li>
        </ul>
        <hr>
        <div class="log-form">

            <form>
                <input type="text" title="username" placeholder="donor number" />
                <input type="password" title="username" placeholder="password" />
                <a href="/home" type="submit" class="btn">Login</a>
            </form>
        </div>
        <div id="createAccount">
            <p>Not a Donor?</p>
            <a href="/createaccount" type="submit" class="btn">Create Account</a>
        </div>
    </div>
</div>

<div id="pageFooter">
    <div id="pageContact">
        Contact Us &#124; FB IN SN TW
    </div>

    <div id="pageCopyright">
        &#169; 2018 Noic.ee Solutions. All Rights Reserved.
    </div>
</div>
</body>
</html>