<!--Initial header & script partial -->
<%- include('./partials/initial', {title: 'Profile', status: 'member'}) %>


<!--Main Content div-->

<%- include('./partials/loading') %>

<div class="mx-auto bg-light w-50 mt-0 mb-3 px-3 py-3 rounded shadow-sm contentDiv" style="min-width: 350px; opacity: 0;">
        <div class="justify-content-between">
            <form>
                <div>
                    <!--Profile Div-->
                    <div class="media px-2 pt-1">
                        <img src="img/boy.png" class="border border-light mr-4" width="75px">

                        <div class="media-body align-self-center">
                            <!--<h4 class="mb-1 font-rubik ls-1"><strong id="fullName"></strong></h4>-->
                            <h4 id="fullName" class="mb-1 font-rubik ls-1 font-weight-bold">Loading...</h4>
                            <!--<button id="test1" type="button" class="btn btn-primary p-2"><h6 class="mb-0 small">Edit Profile</h6></button>-->
                            <!--<button id="test2" type="submit" class="btn btn-success p-2"><h6 class="mb-0 small">Save Changes</h6></button>-->
                            <!--<button id="test3" type="button" class="btn btn-danger p-2"><h6 class="mb-0 small">Cancel</h6></button>-->

                        </div>
                    </div>

                    <ul class="nav nav-tabs mt-3">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#details">Your Details</a>
                        </li>
                        <li class="nav-item startDisabled">
                            <a class="nav-link" data-toggle="tab" href="#statistics" hidden>Your Statistics</a>
                        </li>
                        <li class="nav-item startDisabled">
                            <a class="nav-link" data-toggle="tab" href="#appointments" hidden>Previous Appointments</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div id="test" class="tab-content mt-3">
                        <div class="tab-pane container fade show active" id="details">
                            <h3 class="font-rubik text-uppercase">Personal Details</h3>

                            <strong>Email:</strong>
                            <p id="email" class="d-inline">Loading...</p><br/>

                            <strong>Mobile:</strong>
                            <p id="mobile" class="d-inline">Loading...</p><br/>

                            <strong>Date of Birth:</strong>
                            <p id="dob" class="d-inline">Loading...</p><br/>

                            <!--<div class="textFieldInput" hidden>-->
                                <!--<div class="form-group form-inline mb-1">-->
                                    <!--<strong>Email:</strong> <input type="text" class="form-control form-control-sm ml-1" value="addisons@student.unimelb.edu.au" size="40"/><br/>-->
                                <!--</div>-->
                                <!--<div class="form-group form-inline mb-1">-->
                                    <!--<strong>Mobile:</strong> <input type="text" class="form-control form-control-sm ml-1" value="04XXXXXXXX" size="15"/><br/>-->
                                <!--</div>-->
                                <!--<div class="form-group form-inline mb-1">-->
                                    <!--<strong>Date of Birth:</strong> <input type="text" class="form-control form-control-sm ml-1" value="22/04/1997" size="10">-->
                                <!--</div>-->
                            <!--</div>-->

                            <hr/>

                            <h3 class="font-rubik text-uppercase">Address</h3>
                            <strong>Street Address:</strong>
                            <p id="address" class="d-inline">Loading...</p><br/>

                            <strong>Suburb/City:</strong>
                            <p id="city" class="d-inline">Loading...</p><br/>

                            <strong>Postcode:</strong>
                            <p id="postcode" class="d-inline">Loading...</p><br/>

                            <strong>State:</strong>
                            <p id="state" class="d-inline">Loading...</p><br/>

                            </p>
                            <!--<div class="textFieldInput" hidden>-->
                                <!--<div class="form-group form-inline mb-1">-->
                                    <!--<strong>Street Address:</strong> <input type="text" class="form-control form-control-sm ml-1" value="53 Imaginary Lane" size="40"/><br/>-->
                                <!--</div>-->
                                <!--<div class="form-group form-inline mb-1">-->
                                    <!--<strong>Suburb/City:</strong> <input type="text" class="form-control form-control-sm ml-1" value="Doreen" size="15"/><br/>-->
                                <!--</div>-->
                                <!--<div class="form-group form-inline mb-1">-->
                                    <!--<strong>Postcode:</strong> <input type="text" class="form-control form-control-sm ml-1" value="3754" size="6">-->
                                <!--</div>-->
                                <!--<div class="form-group form-inline mb-1">-->
                                    <!--<strong>State:</strong> <input type="text" class="form-control form-control-sm ml-1" value="VIC" size="5">-->
                                <!--</div>-->
                            <!--</div>-->

                            <hr/>

                            <h3 class="font-rubik text-uppercase">Donor Information</h3>

                            <div id="donorinfo">
                            <strong>Donor Number:</strong>
                            <p id="donornum" class="d-inline">Loading...</p><br/>

                            <strong>Blood Type:</strong>
                            <p id="bloodtype" class="d-inline">Loading...</p><br/>

                            <strong>Haemoglobin:</strong>
                            <p id="weight" class="d-inline">Loading...</p><br/>

                            <strong>Height:</strong>
                            <p id="height" class="d-inline">Loading...</p><br/>

                            <strong>Weight:</strong>
                            <p id="haemoglobin" class="d-inline">Loading...</p><br/>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="statistics">
                                <!--<div class="col-sm-6 align-self-center">-->
                                    <!--<h1 class="text-center font-weight-bold font-rubik ls-2 display-4">0</h1>-->
                                    <!--<h5 class="text-center font-rubik ls-1">Donations Made</h5>-->

                                    <!--<hr/>-->

                                    <!--<h1 class="text-center font-weight-bold font-rubik ls-2 display-4">0</h1>-->
                                    <!--<h5 class="text-center font-rubik ls-1">Litres Donated</h5>-->

                                    <!--<hr/>-->

                                    <!--<h1 class="text-center font-weight-bold font-rubik ls-1 display-4">0</h1>-->
                                    <!--<h5 class="text-center font-rubik ls-1">Lives Saved</h5>-->
                                <!--</div>-->

                            <div class="d-inline-block ml-3 text-center" id="pieGraph">
                                <h2 class="font-rubik">Donations</h2>
                                <canvas id="myChart" class="mx-auto" width="180" height="180"></canvas>

                                <hr/>

                                <div class="text-left d-inline-block">
                                    <h6>Key</h6>
                                    <div class="label right"><div class="graphKeyItem bg-danger"></div> Blood Donations</div>
                                    <div class="label right"><div class="graphKeyItem bg-primary"></div> Plasma Donations</div>
                                    <div class="label right"><div class="graphKeyItem bg-warning"></div> Bone Marrow Donations</div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane container fade" id="appointments">
                            <h3 class="font-rubik text-uppercase">Past Appointments</h3>
                            <div style="max-height: 500px; overflow-y: auto;">
                                <table class="table table-striped">
                                    <thead>
                                    <th>Date</th>
                                    <th>Location</th>
                                    <th class="text-center">Blood</th>
                                    <th class="text-center">Plasma</th>
                                    <th class="text-center">Bone</th>
                                    </thead>
                                    <tbody id="prevDon">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>
</body>
</html>