<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" href="../css/style.css" rel="stylesheet">
        <script src="../js/jquery.js"></script>
        <script src="../js/functions.js" type="text/javascript"></script>
        <title>Donorspace - Profile</title>
    </head>
    <body>
        <div id="pageHeaderNav">
            <header id="pageHeader">
                <img src="../img/logo.png">
            </header>


            <nav id="pageNav">
                Home &#8226; Appointments &#8226; Events &#8226; Teams &#8226; My Profile
            </nav>
        </div>

        <div id="pageContent">
            <div id="container">
                <div class="imgRound">
                    <img src="../img/niels.png">
                </div>
                <h1 class="profileName">Niels Van Berkel</h1>
            </div>
        </div>

        <div id="pageFooter">
            <div id="pageContact">
                Contact Us &#124; FB IN SN TW
            </div>

            <div id="pageCopyright">
                &#169; 2018 Noic.ee Solutions. All Rights Reserved.
            </div>
        </div>
    </body>
</html>