<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="../css/style.css" rel="stylesheet">
    <script src="../js/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <script src="../js/functions.js" type="text/javascript"></script>
    <title>Donorspace - Home</title>
</head>
<body>
<div id="pageHeaderNav">
    <header id="pageHeader">
        This is the header including nav
    </header>


    <nav id="pageNav">
        Home &#8226; Appointments &#8226; Events &#8226; Teams &#8226; My Profile
    </nav>
</div>

<div id="pageContent">
    <div id="container">
        <div id="heading" style="text-align:center">
            <h1>Schedule donations.</h1>
        </div>
        <hr>
        <div class="schedule-donation-form">
            <form>
                <p>Donation Type</p>
                <button id="donIndiv" onclick="toggleGroup()" class="button" type="button">Individual</button>
                <button id="donGroup" onclick="toggleGroup()" class="button" type="button">Group</button>
                <br><br>
                <p>What would you like to donate? </p>
                <button id="donPlasma" onclick="toggleTypes()" class="button" type="button">Plasma</button>
                <button id="donBone" onclick="toggleTypes()" class="button" type="button">Bone</button>
                <button id="donBlood" onclick="toggleTypes()" class="button" type="button">Blood</button>
                <br><br>
                <p>Donation Location</p>
                <select name="location">
                    <option value="volvo">Select Dontation Location</option>
                    <option value="volvo">Melbourne Central</option>
                    <option value="saab">St Kilda Rd</option>
                    <option value="fiat">Carlton</option>
                    <option value="audi">Brunswick</option>
                </select>
                <br><br>
                <p>Date</p>
                <input type="date" class="datepicker">
                <p>Time</p>
                <input type="time" class="timepicker">
                <button id="bookApointment" onclick="bookedAlert()" class="btn">Book</button>
            </form>
        </div>
    </div>
</div>

<div id="pageFooter">
    <div id="pageContact">
        Contact Us &#124; FB IN SN TW
    </div>

    <div id="pageCopyright">
        &#169; 2018 Noic.ee Solutions. All Rights Reserved.
    </div>
</div>
</body>
</html>