<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" href="../css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <link rel="icon" href="../img/heart.png" type="image/x-icon">
        <script src="../js/jquery.js"></script>
        <script src="../js/functions.js" type="text/javascript"></script>
        <title>Donorspace - Team Profile</title>
    </head>
    <body>
        <div id="pageHeaderNav">
            <header id="pageHeader">
                <img id="pageLogo" src="../img/logo.png">
            </header>


            <nav id="pageNav">
                <p id="home">
                    <a href="home">Home &#8226;</a>
                    <a href="appointments">Appointments &#8226;</a>
                    <a href="teamprofile">Teams &#8226;</a>
                    <a href="">Events &#8226;</a>
                    <a href="profile">My Profile </a>
                </p>            </nav>
        </div>

        <div id="pageContent">
            <div id="container">
                <div class="imgRound">
                    <img src="../img/unimelb.jpg">
                </div>
                <div id="profileInfo">
                    <h1 class="profileName">University of Melbourne</h1>
                    Members: 30569
                </div>
                <a id="editProfile" title="Update Details">Update Details</a>

                <br/><br/>

                <div id="groupdonation">
                    <h1>Next group donation</h1>
                    Date: 3<sup>rd</sup> of May, 2018<br/>
                    Time: 12:30pm<br/>
                    Type: Blood & Plasma<br/>
                    Location: Melbourne Central<br/>
                    Register

                </div>
                <div id="statistics">
                    <div class="left">
                        <h1>951</h1>
                        Litres Donated
                    </div>
                    <div class="right">
                        <h1>397</h1>
                        Lives Saved
                    </div>
                </div>
                <div id="pieGraph">
                    <h1>Donation Breakdown</h1>
                    <canvas id="myChart" class="left" width="180" height="180"></canvas>
                    <div class="label right"><h2>Key</h2></div>
                    <div class="label right"><div id="red" class="box"></div> Blood Donations</div>
                    <div class="label right"><div id="blue" class="box"></div> Plasma Donations</div>
                    <div class="label right"><div id="yellow" class="box"></div> Bone Marrow Donations</div>
                </div>

            </div>
        </div>

        <div id="pageFooter">
            <div id="pageContact">
                Contact Us &#124; <img class="social" src="../img/Facebook-color.svg"> <img class="social" src="../img/Twitter-color.svg">
            </div>

            <div id="pageCopyright">
                &#169; 2018 Noic.ee Solutions. All Rights Reserved.
            </div>
        </div>
    </body>
</html>