<%- include('./partials/initial', {title: 'Teams', status: 'member'}) %>

<%- include('./partials/loading') %>

    <div class="mx-auto bg-light w-50 mt-0 mb-3 px-3 py-3 rounded shadow-sm contentDiv" style="min-width: 350px; opacity: 0;">
        <h2 class="ml-2 text-center font-rubik ls-2 mx-auto mb-0 text-uppercase font-weight-bold">Teams</h2>

            <!--<form action="/action_page.php">-->
                <!--<div class="form-group form-inline mb-0">-->
                    <!--<div class="mx-auto input-group">-->
                        <!--<input type="text" class="form-control form-control-sm border-right-0 rounded-left-only" id="usr" placeholder="Find teams" size=20 required>-->
                        <!--<button type="submit" class="btn btn-primary btn-sm rounded-right-only">Search</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->

        <hr/>

        <!--<ul class="nav nav-pills mt-3 justify-content-center">-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link active" data-toggle="tab" href="#details">Your Teams</a>-->
            <!--</li>-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" data-toggle="tab" href="#details">Search Teams</a>-->
            <!--</li>-->
        <!--</ul>-->

        <h3 class="font-rubik text-center">Your Teams</h3>

        <div id="teamsPage" class="d-flex flex-wrap justify-content-around">

        </div>

        <hr/>

        <h3 class="font-rubik text-center">Teams You Might Like</h3>

        <div id="suggestedPage" class="d-flex flex-wrap justify-content-around">

        </div>


    </div>

<%- include('./partials/final') %>