<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" href="../css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <script src="../js/jquery.js"></script>
        <script src="../js/functions.js" type="text/javascript"></script>
        <title>Donorspace - Home</title>
    </head>
    <body>
        <div id="pageHeaderNav">
            <header id="pageHeader">
                <img id="pageLogo" src="../img/logo.png">
            </header>


            <nav id="pageNav">
                <p id="home">
                    <a href="home">Home &#8226;</a>
                    <a href="appointments">Appointments &#8226;</a>
                    <a href="teamprofile">Teams &#8226;</a>
                    <a href="profile">My Profile </a>
                </p>
            </nav>
        </div>

        <div id="pageContent">
            <div id="container">
                Hello
            </div>
        </div>

        <div id="pageFooter">
            <div id="pageContact">
                Contact Us &#124; FB IN SN TW
            </div>

            <div id="pageCopyright">
                &#169; 2018 Noic.ee Solutions. All Rights Reserved.
            </div>
        </div>
    </body>
</html>