

<div class="w-100 text-center mx-auto">
    <input class="form-check-input d-none typeCheck" type="checkbox" value="blood">
    <button type="button" class="btn btn-sm btn-outline-danger px-4 py-1 selectType btnBone">Blood</button>

    <input class="form-check-input d-none typeCheck" type="checkbox" value="plasma">
    <button type="button" class="btn btn-sm btn-outline-danger mx-2 px-4 py-1 selectType">Plasma</button>
</div>