<div class="join" hidden>
    <h5 class="mb-1">Join the Bone Marrow Registry?</h5>
    All it takes is a mouth swab.<br/>
    <small>0.07% chance of being requested to donate.</small><br/>
    <a class="nav-link small" href="information#bonemarrow">Find out more</a>
    <button type="button" class="btn btn-success mt-2 px-3 py-1" id="btnYes">Join</button><br/>
    <button type="button" class="btn btn-sm btn-link text-danger mt-1 dismissBone">Dismiss</button>

    <hr/>
</div>