<a href="/<% link %>" class="cardLink text-body mx-1 mt-3">
    <div class="card px-3 pt-3 pb-2" style="width:175px;">
        <img class="card-img-top rounded" src="img/boy" alt="Card image">
        <hr class="mb-2"/>
        <div class="card-body px-2 py-1">
            <h5 class="card-title text-center font-rubik my-1"><%= name %></h5>
            <p class="mb-0 text-center"><img src="img/torso.png" width="16px" class="mr-1"> <%= members %></p>
        </div>
    </div>
</a>